
<div class="admin-card mb-4">
  <div class="card-header fw-bold">🛡️ Панель адміністратора</div>
  <div class="list-group list-group-flush">
    <a href="/add_position" class="list-group-item list-group-item-action">🍕 Додати позицію</a>
    <a href="/admin/menu" class="list-group-item list-group-item-action">📋 Керування меню</a>
    <a href="/admin/orders" class="list-group-item list-group-item-action">📦 Замовлення</a>
    <a href="/admin/reservations" class="list-group-item list-group-item-action">підтвердження Резервації</a>
     <a href="/" class="list-group-item list-group-item-action text-muted">⬅️ Повернутися на сайт</a>
  </div>
</div>
